


.tarjeta{
  width: 475px;
  height: 275px;
  background-image: linear-gradient( rgba(64,32,116, 10),rgba(232, 12, 210, 0.3)),
  url("./../public/bg.svg");
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  z-index: 9;
  backface-visibility: hidden;

}
.banco{
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: flex-end
}

.img{
  display: flex;;
  flex-direction: row;
  align-items: center;
  
  margin-top: 30px;
  
}


.serie{
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 40px;
  color: white;
  letter-spacing: 3px;
  margin-top: -40px;
  height: 60px;
  
}

.fecha{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 30px;
  color: white;
}

.titular{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 22px;
  color: white;
  
}

.visa{
  margin-top: -10px;
}

.back{
  margin-top: 50px;
  width: 475px;
  height: 275px;
  background-image: linear-gradient( rgba(64,32,116, 10),rgba(232, 12, 210, 0.3)),
  url("./../public/bg.svg");
  background-size: cover;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  padding-top: 20px;
  position: relative;
  top: -375px;
  z-index: -5;
  backface-visibility: hidden; /* sirve para ocultar la cara trasera cuando la tarjeta está girada */
  transform: rotateY(180deg); /*  gira la cara trasera 180 grados para que esté al revés inicialmente */
  
}

.contacto{
  
  align-self: center;
  color: white;
  
}

.linea{
  background: black;
  height: 100px;
  width: calc(100% + 60px);
  margin-left: -30px;
  margin-right: -30px;
  margin-top: 10px;
  padding-top: 70px;
}

.clave{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  background: white;
}

.text{
  text-align: center;
  color: white;
  font-size: 18px;
 
}

.nota{
  text-align: center;
  color: white;
  font-size: 15px;
}


/* animacion, giro de la tarjeta  */


.perspectiva{
  perspective: 1000px; /* define la perspectiva 3D */
  width: 550px;
  height: 350px;
}

.global{
  width: 550px;
  height: 350px;
  transform-style: preserve-3d; /* permite que los elementos hijos se rendericen en 3D */
  transition: transform 0.8s; /* suaviza la transición del giro */
}
.perspectiva:hover .global{
  transform: rotateY(180deg); /* gira la tarjeta 180 grados en el eje Y al pasar el ratón */
}

